[Unit]
Description=Beagle Self-test
After=dev-input-beagle\x2dbarcode.device
Requires=dev-input-beagle\x2dbarcode.device 
BindsTo=dev-input-beagle\x2dbarcode.device

[Service]
ExecStart=/usr/sbin/beagle-tester

[Install]
WantedBy=multi-user.target
